<!DOCTYPE html>
<html lang="en">
<md-dialog aria-label="Add new entry" ng-controller="salesCtrl" layout="column"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add new entry</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>Last name</label>
                    <input required md-no-asterisk name="lastName" ng-model="lastName">
                    <div ng-messages="projectForm.description.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>First name</label>
                    <input required md-no-asterisk name="firstName" ng-model="firstName">
                    <div ng-messages="projectForm.clientName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Department</label>
                    <input required md-no-asterisk name="department" ng-model="department">
                    <div ng-messages="projectForm.department.$error">
                    <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Date of birth</label>
                    <input required md-no-asterisk name="dateOfBirth" ng-model="dateOfBirth">
                    <div ng-messages="projectForm.dateOfBirth.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('Cancel')">
                Cancel
            </md-button>
            <md-button ng-click="sendData()" style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>